@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.whole-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  background-color: rgba(37, 67, 110, 0.9);
  color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px 5px;
  width: 1200px;
  height: 750px;
}

.dog-display img {
  max-width: 200px; 
  height: auto; 
  border-radius: 8px; 
}

.dog-display {
  flex: 3;
  text-align: center; 
  padding: 1rem;
  background: #333;
  color: #fff; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.history, .ban-list {
  flex: 1;
  padding: 1rem;
  background: #333;
  color: #fff;  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.history-item {
  width: 100px; 
  
}